#mainContent {
    margin: 0 auto;
    width: 1200px;
}

article {
    width: 600px;
}

.mainArticleP {
    width: 600px;
}

.articleIMG {
    height: 300px;
    width: 400px;
    margin-left:-5px;

}

h3 {
    margin-top: 50px;
}

aside {
    display: inline-block;
    float: right;
    padding-right: 400px;
}

#asidenews {
    font-weight: bold;
    padding-top: 70px;
}

.asideArticle {
    width: 300px;
    background-color: #F8FAF7;
    padding-top: 15px;
}

.AsideIMG {
    height: 100px;
    width: 130px;
}


.asideSeperator {
    width: 4px;
    height: 500px;
    background-color: #700b0b;
    float: right;
    margin-right: 80px;
}