#mainContent {
    margin: 0 auto;
    width: 1200px;
}

article {
    width: 600px;
}

.mainArticleP {
    width: 600px;
}

h3 {
    margin-top: 50px;
}

aside {
    display: inline-block;
    float: right;
    padding-right: 400px;
}

#asidenews {
    font-weight: bold;
    padding-top: 70px;
}

.asideArticle {
    width: 180px;
    background-color: #F8FAF7;
    padding-top: 15px;
}

.AsideIMG {
    height: 100px;
    width: 130px;
}


.asideSeperator {
    width: 4px;
    height: 500px;
    background-color: #700b0b;
    float: right;
    margin-right: 80px;
}

#Story1IMG {
    height: 445px;
    width: 628px;
}

#Story2IMG {
    height: 120px;
    width: 200px;
    padding-right: 45px;
}

#Story3IMG {
    height: 120px;
    width: 160px;
}

.Story1 {
    padding-top: 6px;
    padding-bottom: 6px;
    margin-top: auto;
    color: #404040;
    display: inline;
    
 }

.Story2 {
    padding-top: 6px;
    padding-bottom: 6px;
    padding-right: 15px;
    margin-top: auto;
    color: #404040;
    display: inline-block;
 }

.Story3 {
    padding-top: 6px;
    padding-bottom: 6px;
    margin-top: auto;
    color: #404040;
    display: inline-block;
    
 }

#LeagueTable {
    width: 216px;
    padding-top: 85px;
}

h5 {
    background-color: #700b0b;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
    width: 150px;
}

th{
    text-align: center;
    width: 40px;
    background-color: #404040;
    color: #aaaaaa; 
}
td{
   text-align: center;
}