@{
    ViewBag.Title = "HendonHeader";

}

<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/less/HendonH.min.css")" />


<div id="footer-bottom">
    <div class="wrapper">
        <ul>
            <li><a href="">About</a></li>
            <li><a href="" title="News and Updates">Blog</a></li>
            <li><a href="" title="Contact Us">Contact Us</a></li>
            <li><a href="" title="Jobs">Jobs</a></li>
        </ul>
        <ul>
            <li><a href="" title="Forums and Resources">Support</a></li>
            <li>
                <a href="" title="Get out and about">Get Involved</a></l
                i>
            <li><a href="" title="Workshops and training materials">Learn</a></li>
            <li><a href="" title="Find Us">Find</a></li>
        </ul>
        <ul>
            <li><a href="" title="Forecasts">Weather</a></li>
            <li><a href="" title="Get out and about">Holidays</a></li>
            <li><a href="" title="Ad's'">Place your Ad</a></li>
            <li><a href="" title="Deals">Deals</a></li>
        </ul>
        <ul>
            <li><a href="" title="Sign Up">Legal</a></li>
            <li><a href="" title="Terms and Conditions">Archive</a></li>
            <li><a href="" title="Privacy Policy">Cookies</a></li>
            <li><a href="" title="Access">Network</a></li>
        </ul>
        <ul>
            <li><a href="" title="Sign Up">Subscribe</a></li>
            <li><a href="" title="Terms and Conditions">Terms & Conditions</a></li>
            <li><a href="" title="Privacy Policy">Privacy Policy</a></li>
            <li><a href="" title="Access">Accessibility</a></li>
        </ul>
    </div>
</div>
<div id="copyright">© Copyright 2014, Hendon Herald. All rights reserved.</div>
