@{
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}

<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/less/HendonH.min.css")" />

<aside>

    <h4 id="asidenews">More Local News</h4>

    <div class="asideArticle">
        <h4>Katie Rolls On</h4>
        <img class="AsideIMG" src="..\images\Local Page\Aside Images\ApprenticeKatie.jpg" alt="Sunderland Apprentice" />
        <p>
            Katie Bulmer-Cooke played to her strengths in this
            weeks Apprentice, with her group coming out top, and
            Katie is looking strong to continue her progression.
        <p>
    </div>

    <div class="asideArticle">
        <h4>The Damned In Sunderland</h4>
        <img class="AsideIMG" src="..\images\Local Page\Aside Images\TheDamned.jpg" alt="The Damned" />
        <p>
            The iconic punk band The Damned is returning
            Sunderland to play a rare wearside gig at
            North Shore in St.Peter's Campus.
        </p>
    </div>

    <div class="asideArticle">
    <h4>The Lion King</h4>
    <img class="AsideIMG" src="..\images\Stuff Page\Aside Images\TheLionKing.png" alt="LionKing" />
    <p>
        Disney presents the award winning musical - The Lion King!
        Experience for yourself this ‘astonishing triumph of theatrical imagination' -  Evening Standard

        Prices from £20 to £59. Limited premium Stalls seating also available for every performance.
        Books tickets now <a href="http://www.thelionking.co.uk/"> Click here.</a>
    <p>
   </div>

        <div class="asideArticle">
            <h4>Altidore To Burnley?</h4>
            <img class="AsideIMG" src="..\images\Sport Page\Jozy-Altidore.jpg" alt="SAFC's Altidore" />
            <p>
                Could Burnley be making a move for wantaway Altidore?
            </p>
        </div>

</aside>


<main>
    <div id="mainContent">
    <article>
        
        <h2> Spectral Figure Found In Mowbray Park </h2>
        <img id="park" src="..\images\Index Page\Spectral Figure Discovered in Mowbray park.jpg" alt="MowbrayPark" /><div>
            <h3> Spirit Eyes Cannon </h3>
            <p>The Ghost of General Havlock appears to be considering using the canon left in Mowbray park - in protest at moving his bin collection to Tuesdays instead of Thursday.</p>
            <p>The cannon, left pointing at the civic centre in case of another infestation of the Rage virus seems to be the target of the Victorian Millitaryman Shade's attentions.</p>
            <p>When pressed, the wraith said "I'm buried at Lucknow, so getting here to put the bins out for Tuesday is impossible, the connecting flights just aren't there.</p>
            <p>Queen Victoria, Greyfriars Bobby and Sunderland City council were unavailable for comment.</p>
        </div>
    </article>
    <hr>
    <article>
            <h2> Blandford Street found Wonky</h2>
        <img id="images" src="..\images\Index Page\CrookedBlandfordStreet.jpg" alt="FordStreet" /><div>
            <p>Keen shoppers were underterred as Blandford Street at the heart of the city was seen to be a bit skew-wiff.From Herbet Brown's to Debenhams, the whole street appeared tilted off to the rught somehow.</p>
            <p>We contacted a spokesperson for H&T Pawnbrokers said "To be honest, we haven't noticed anything unusal outside. There has been no drop off in trade, punters are here putting their wedding rings on tick just a desperately as usual."</p>
            <p>Our roving photohrapher, Nathanial Ventricle, took this shocking image moments after picking up his new tripod from Chas Eagle's and Sons. Nathanial said "You know what's odd, the people on Blandford Street look wonky too- normally they'd be upri..oh.wait.."</p>
        </div>
    </article>
    <hr>
    <article>
            <h2> Amy Winehouse Urged into Rehab</h2>
        <img id="images" src="..\images\Index Page\AmysWinehouse.jpg" alt="FordStreet"><div>
            <p>
                Amy's Winehouse has said "no no no" to calls to enter rehab after complaints of rowdy behaviour about the songstressly-named offy. An neighbour, who wishes to remain anonymous, has seen Amy's Winehouse selling the following in broad daylight:
                <ul>
                    <li> Fine Wines & Champagnes</li>
                    <li> Rough Ciders & Spirits</li>
                    <li> Terry Chocolate Orange</li>
                </ul>
            <p>Amy's Winehouse ain't got the time to make a comment, adding the retail outlet's daddy thinks she's fine.</p>
        </div>
    </article>
    </div>
</main>
