@{
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}
@{
    ViewBag.Title = "Local";

}

<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/LocalStylesheet.css")" />


<aside>

    <h4 id="asidenews">More Local News</h4>

    <div class="asideArticle">
        <h4>Katie Rolls On</h4>
        <img class="AsideIMG" src="..\images\Local Page\Aside Images\ApprenticeKatie.jpg" alt="Sunderland Apprentice" />
        <p>Katie Bulmer-Cooke played to her strengths in this
        weeks Apprentice, with her group coming out top, and
        Katie is looking strong to continue her progression.
        <p>
    </div>

    <div class="asideArticle">
        <h4>The Damned In Sunderland</h4>
        <img class="AsideIMG" src="..\images\Local Page\Aside Images\TheDamned.jpg" alt="The Damned" />
        <p>The iconic punk band The Damned is returning
            Sunderland to play a rare wearside gig at
            North Shore in St.Peter's Campus.
        </p>
    </div>

    <div class="asideArticle">
        <h4>Night At The Museum</h4>
        <img class="AsideIMG" src="..\images\Local Page\Aside Images\BrownieMuseum.jpg" alt="Brownies Sleepover" />
        <p>
            It was a night at the museum for Sunderland's
            brownie division, over 100 brownies took part
            in a huge sleepover in Winter Gardens to celebrate
            the Brownie's centenary.
        </p>
    </div>
    <div class="asideArticle">
        <h4>Young Film Makers Win Award</h4>
        <img class="AsideIMG" src="..\images\Local Page\Aside Images\SunderlandFilm.jpg" alt="Young Film Stars" />
        <p>
            Emmie and Lilly Thompson have won an award for
            their short film 'Mitchell Goldfield'. The film
            portrays a young man that feels as if everything
            is against him in life. The girls are hoping to
            continue their success.
        </p>
    </div>
</aside>


<main>
    <div id="mainContent">
        <h2>Local</h2>

            <article class="Story1">
                <div>
                    <h3>Firefighters In Ceiling Collapse</h3>
                    <img id="Story1IMG" src="..\images\Local Page\Firefighters.jpg" alt="Firefighters Investigating Blaze" />

                    <p>
                        Two firefighters have been injured during a callout in which the ceiling of the home collapsed on top
                        of them.
                    </p>

                    <p>
                        The fire was an act of arson, by youths in the Penshaw area of Sunderland, the building in which they targeted
                        was the former Penshaw House Community Home. The building has sustained bad fire damage and the structure
                        of the old building has been weakened significantly, causing the collapse.
                    </p>

                    <p>
                        The two firefighters both sustained suspected neck injuries and burns, but both have been cleared to recover
                        from home, and appear to be in stable condition. Police are asking for any witnesses to the incident to step
                        forward and bring the arsonists to justice.
                    </p>
                </div>
            </article>


            <article class="Story1">
                <div>
                    <h3>Remembrance Concert Made Extra Special</h3>
                    <img id="Story1IMG" src="..\images\Local Page\Concert.jpg" alt="Preperations Almost Complete" />

                    <p>
                        The annual Sunderland Remembrance Concert organisers have promised to make this years concert
                        'extra special'.
                    </p>

                    <p>
                        This year marks the 100th year since the start of WW1, and everyone involved in this years
                        remembrance concert are working hard to mark the occasion with the best perfomance yet, with
                        appearances including the Cassino Band of Northumbria Army Cadets and the The Shoeshop Quartet.
                    </p>

                    <p>Tickets are £6 and available from The Bridges customer service desk or the service centre in fawcett street.</p>
                </div>
            </article>

            <article class="Story1">
                <div>
                    <h3>Wearside Practise Closed</h3>
                    <img id="Story1IMG" src="..\images\Local Page\WearmouthPractise.jpg" alt="GP Practise Shuts" />

                    <p>A Sunderland GP has shut up shop, leaving 2000 patients looking for a new practise.</p>

                    <p>
                        Wearside Medical Practise has been forced to close, with patient turnover blamed as the cause.
                        The practise which served over 2000 patients had a lengthy consultation process over whether or not
                        it was viable for the practise to remain running.
                    </p>

                    <p>
                        Dr Mike Prentice, the Medical Director for the North East said: “We appreciate the closure of the
                        practice is worrying for patients and would like to assure them that there are practices very close
                        to Wearside Medical Practice where they can register".
                    </p>
                </div>
            </article>
        </div>
</main>




