@{
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}
@{
    ViewBag.Title = "Local";

}

<main>

    <h2>Local</h2>

    <article>
        <div>
            <h3>Firefighters In Ceiling Collapse</h3>
            <img id="Firefighters" src="..\images\Local Page\Firefighters.jpg" alt="Firefighters Investigating Blaze" />

            <p>
                Two firefighters have been injured during a callout in which the ceiling of the home collapsed on top
                of them.
            </p>

            <p>
                The fire was an act of arson, by youths in the Penshaw area of Sunderland, the building in which they targeted
                was the former Penshaw House Community Home. The building has sustained bad fire damage and the structure
                of the old building has been weakened significantly, causing the collapse.
            </p>

            <p>
                The two firefighters both sustained suspected neck injuries and burns, but both have been cleared to recover
                from home, and appear to be in stable condition. Police are asking for any witnesses to the incident to step
                forward and bring the arsonists to justice.
            </p>
        </div>
    </article>

    <article>
        <div>
            <h3>Remembrance Concert Made Extra Special</h3>
            <img id="Concert" src="..\images\Local Page\Concert.jpg" alt="Preperations Almost Complete" />

            <p>
                The annual Sunderland Remembrance Concert organisers have promised to make this years concert
                'extra special'.
            </p>

            <p>
                This year marks the 100th year since the start of WW1, and everyone involved in this years
                remembrance concert are working hard to mark the occasion with the best perfomance yet, with
                appearances including the Cassino Band of Northumbria Army Cadets and the The Shoeshop Quartet.
            </p>

            <p>Tickets are £6 and available from The Bridges customer service desk or the service centre in fawcett street.</p>
        </div>
    </article>

    <article>
        <div>
            <h3>Wearside Practise Closed</h3>
            <img id="WearsidePractise" src="..\images\Local Page\WearmouthPractise.jpg" alt="GP Practise Shuts" />

            <p>A Sunderland GP has shut up shop, leaving 2000 patients looking for a new practise.</p>

            <p>
                Wearside Medical Practise has been forced to close, with patient turnover blamed as the cause.
                The practise which served over 2000 patients had a lengthy consultation process over whether or not
                it was viable for the practise to remain running.
            </p>

            <p>
                Dr Mike Prentice, the Medical Director for the North East said: “We appreciate the closure of the
                practice is worrying for patients and would like to assure them that there are practices very close
                to Wearside Medical Practice where they can register".
            </p>
        </div>
    </article>
</main>


