@{
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}

<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/less/HendonH.min.css")" />

<aside>
    <div class="asideArticle">
        <h3> Top 3 Scary Stories of Today!</h3>
        <p> Spider Burrows Into Tourist's Chest for 3 Days</p>
        <p>Kmart Payment Data Breached in Latest Hack</p>
        <p>Plane Returns to UK After Wall Panels Crack Loose</p>
    </div>
</aside>

<main>
   <div id="mainContent">
     <h1>News</h1>

       <article class="Story1">
           <div>
               <h3>Sunderland Faces New £36 Million Cuts</h3>
               <img class="articleIMG" src="..\images\news page\sunderlandcouncil.jpg" alt="SunderlandCouncil"/>

               <p>
                   SUNDERLAND faces another three years of misery after it was revealed another £108million of savings will 
                   have to be made in an ‘unremitting assault and ‘attack on the poor.’
               </p>

               <p>
                   At Sunderland City Council they agree a report that will guide the budget process for next year.
                   As plans for 2015/2016 that will show the reduction in national funding at a massive 13% and have agreeded to cuts of 36 million will be made. 
               </p>
           </div>
       </article>

       <article class="Story1">
           <div>
               <h3>Sunderland Woman Escapes Jail Over Speeding Scam</h3>
               <img class="articleIMG" src="..\images\news page\court.jpg" alt="Court" />

               <p>Mum of four has said she has had an 'escape' from being jailed over a speeding point scam.</p>
               <p>Katy Leigh took her friend home from local pub to help her avoid a ban when she was doing 40 mph in a 20 zone and already had 9 points on her licence.</p>
               <p>The 40 year old was collared when the previous resident of her address realised the finger of blame was being pointed at her and came forward. </p>
               <p>Similar “points taking” scams hit the headlines when former MEP Chris Huhne, who was Lib Dem energy secretary, and his ex wife Vicky Price were sentenced to eight months each in jail.</p>

           </div>
       </article>

       <article class="Story1">
           <div>
               <h3>New £17,000 Outdoor Gym For Pupils Opens</h3>
               <img class="articleIMG" src="..\images\News Page\OutdoorGym.jpg" alt="Outdoor Gym" />

               <p>Pupils in the Northern Saints Primary school are enjoying new outdoor sports facilities to keep in shape and have fun doing so!</p>
               <p>Doors were wide open for other schools to come and visit the primary and have a look at the new equipment.</p>
               <p>Northern Saints gym area consists of 10 workout stations, including a treadmill, cross trainer and sit-up area.</p>

           </div>
       </article>

       <article class="Story1">
           <div>
               <h3>Stockton - Middlesborough Bridge To COst £4m In Repairs</h3>
               <img class="articleIMG" src="..\images\News Page\Bridge.jpg" alt="Bridge" />

               <p> The council has said that the 80 year old newport bridge cost them 1.6 million, but cost a staggering more than double figure to repair it.</p>
               <p> The damage has said to be worse than what they orginally thought, else it would reopen the bridge sooner.</p> 
               <p>Engineers will repair thousands of meters worth of metal using a special constructed tunnel while the A1032 reopens to traffic.</p>

           </div>
       </article>

       </div>
    </main>






























    </div>
</main>
