
@{
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}

@{
    ViewBag.Title = "Sport";
}

<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/SportStylesheet.css")" />

<aside>
    <div id="LeagueTable">

        <h3>Premier League</h3>
        <table>
            <thead>
                <tr>
                    <th>Pos</th>
                    <th>Club</th>
                    <th>P</th>
                    <th>GD</th>
                    <th>Pts</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Chelsea</td>
                    <td>9</td>
                    <td>15</td>
                    <td>23</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Southampton</td>
                    <td>9</td>
                    <td>15</td>
                    <td>19</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Man City</td>
                    <td>9</td>
                    <td>9</td>
                    <td>17</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>West Ham</td>
                    <td>9</td>
                    <td>5</td>
                    <td>16</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>Arsenal</td>
                    <td>9</td>
                    <td>4</td>
                    <td>14</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>Swansea</td>
                    <td>9</td>
                    <td>3</td>
                    <td>14</td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>Liverpool</td>
                    <td>9</td>
                    <td>1</td>
                    <td>14</td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>Man Utd</td>
                    <td>9</td>
                    <td>3</td>
                    <td>13</td>
                </tr>
                <tr>
                    <td>9</td>
                    <td>Everton</td>
                    <td>9</td>
                    <td>2</td>
                    <td>12</td>
                </tr>
                <tr>
                    <td>10</td>
                    <td>Hull</td>
                    <td>9</td>
                    <td>0</td>
                    <td>11</td>
                </tr>
                <tr>
                    <td>11</td>
                    <td>Tottenham</td>
                    <td>9</td>
                    <td>-2</td>
                    <td>11</td>
                </tr>
                <tr>
                    <td>12</td>
                    <td>Stoke</td>
                    <td>9</td>
                    <td>-2</td>
                    <td>11</td>
                </tr>
                <tr>
                    <td>13</td>
                    <td>West Brom</td>
                    <td>9</td>
                    <td>-1</td>
                    <td>10</td>
                </tr>
                <tr>
                    <td>14</td>
                    <td>Newcastle</td>
                    <td>9</td>
                    <td>-5</td>
                    <td>10</td>
                </tr>
                <tr>
                    <td>15</td>
                    <td>Aston Villa</td>
                    <td>9</td>
                    <td>-10</td>
                    <td>10</td>
                </tr>
                <tr>
                    <td>16</td>
                    <td>C. Palace</td>
                    <td>9</td>
                    <td>-3</td>
                    <td>9</td>
                </tr>
                <tr>
                    <td>17</td>
                    <td>Leicester</td>
                    <td>9</td>
                    <td>-4</td>
                    <td>9</td>
                </tr>
                <tr>
                    <td>18</td>
                    <td>Sunderland</td>
                    <td>9</td>
                    <td>-9</td>
                    <td>8</td>
                </tr>
                <tr>
                    <td>19</td>
                    <td>QPR</td>
                    <td>9</td>
                    <td>-10</td>
                    <td>7</td>
                </tr>
                <tr>
                    <td>20</td>
                    <td>Burnley</td>
                    <td>9</td>
                    <td>-11</td>
                    <td>4</td>
                </tr>
            </tbody>
        </table>
    </div>


</aside>


<main>
    <div id="mainContent">
        <h2>Sport</h2>
        <hr />
        <h3>Sunderland AFC</h3>
        <article>
            <div>
                <h4>Saints Go Marching In</h4>
                <img id="Story1IMG" src="..\images\Sport Page\Sunderland Beaten.jpg" alt="SAFC Demolished" />
                <p>Sunderland suffer worst defeat in 32 years</p>

                <p>
                    In a match that the players and the fans would like to forget, Sunderland were beaten 8-0.
                    Sunderland looked a confident side in the first 10 minutes of the game, but a fabulous own
                    goal by Vergini caused that to crash down, hard..
                </p>
                <p>
                    Southampton went on to dominate the game for the remaining 80 minutes in what can only be called
                    a disgustingly pathetic perfomance from the Black Cats; the players looked like lost children
                    around the pitch and gave the impression that Southampton were playing amateurs.
                </p>
                <p>
                    If Sunderland continue to perform like they did at St. Mary's they will have a tough time to
                    gain points from anyone, and their season could take a diect nosedive to the bottom, along with QPR.
                </p>
                <p>Final Score: 8 - 0</p>

            </div>
        </article>

        <article class="Story2">
            <div>
                <h5>Altidore To Burnley?</h5>
                <img id="Story2IMG" src="..\images\Sport Page\Jozy-Altidore.jpg" alt="SAFC's Altidore" />
            </div>
        </article>

        <article class="Story3">
            <div>
                <h5>Rodwell Settled</h5>
                <img id="Story3IMG" src="..\images\Sport Page\Jack-Rodwell.jpg" alt="SAFC's Rodwell" />
            </div>
        </article>

        <hr />

        <h3>Football</h3>

        <article>
            <div>
                <h4>England's Unbeaten Run Continues</h4>
                <img id="Story1IMG" src="..\images\Sport Page\Englands Unbeaten Run.jpg" alt="Rooney Scores The Winner" />
                <p>Rooney clinches it for England</p>

                <p>
                    England claimed the victory in a game that could not be considered 'easy';
                     frustration set in as England struggled to break down the Estonian defence,
                     and besides Rooney's 73rd minute stunner, any chance on goal
                     was wasted.
                </p>

                <p>
                    England youngster Raheem Sterling didn't play, which brought some 
                    controversey and arguments between Hodgson and Rodgers
                    over the players fitness.
                </p>

                <p>
                    This victory however leaves England top of their group, 
                    and looking strong favourites to finish the qualifiers
                    as group champions.
                </p>
            </div>
        </article>

        <article class="Story2">
            <div>
                <h5>Dyke Targets Grassroots</h5>
                <img id="Story2IMG" src="..\images\Sport Page\Greg-Dyke.jpg" alt="FA Chairman Greg Dyke" />
            </div>
        </article>

        <article class="Story3">
            <div>
                <h5>Hodgson On Sterling</h5>
                <img id="Story3IMG" src="..\images\Sport Page\raheem-sterling.jpg" alt="Liverpool's Sterling" />
            </div>
        </article>

        <hr />

        <h3>Local Sport</h3>

        <article>
            <div>
                <h4>Washington A beat Biddick</h4>
                <img id="Story1IMG" src="..\images\Sport Page\Snooker.jpg" alt="Snooker" />
                <p>
                    Biddick beaten 4-1 by Washington, in a game that rarely 
                    saw Biddick take the lead
                    as Washington A proved to be a formidiable force.
                </p>
            </div>
        </article>

        <article class="Story2">
            <div>
                <h5>Harrier League As Popular As Ever</h5>
                <img id="Story2IMG" src="..\images\Sport Page\marathon-runners.jpg" alt="Runners" />
            </div>
        </article>
    </div>
</main>



