@{
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}
@{
    ViewBag.Title = "Stuff";

}
<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/less/HendonH.min.css")" />
<aside>

    <h4 id="asidenews">Local Events at Sunderland Empire</h4>
    <h4 class="asideArticle"> Theatre </h4>

    <div class="asideArticle">
        <h4>The Lion King</h4>
        <img class="AsideIMG" src="..\images\Stuff Page\Aside Images\TheLionKing.png" alt="LionKing" />
        <p>
            Disney presents the award winning musical - The Lion King!
            Experience for yourself this ‘astonishing triumph of theatrical imagination' -  Evening Standard

            Prices from £20 to £59. Limited premium Stalls seating also available for every performance.
            Books tickets now <a href="http://www.thelionking.co.uk/"> Click here.</a>
        <p>
    </div>

    <div class="asideArticle">
        <h4>Dirty Dancing </h4>
        <img class="AsideIMG" src="..\images\Stuff Page\Aside Images\DirtyDancing.jpg" alt="DirtyDancing" />
        <p>
            Dirty Dancing is coming to Sunderland Empire!
            Since opening in September 2011, the first ever tour of the UK and Ireland has wowed audiences across the country, breaking box office records and playing to standing ovations and 5 star reviews.
            Books tickets now <a href="http://www.ticketmaster.co.uk/Dirty-Dancing-tickets/artist/1196389"> Click here.</a>
        </p>
    </div>

    <div class="asideArticle">
        <h4>RiverDance</h4>
        <img class="AsideIMG" src="..\images\Stuff Page\Aside Images\RiverDance.jpg" alt="RiverDance" />
        <p>
            Of all the performances to emerge from Ireland – in rock, music, theatre and film – nothing has carried the energy, the sensuality and the spectacle of RIVERDANCE.
            Now, 20 years after Riverdance was first performed in the Eurovision Song Contest in Dublin and having been seen live by over 23 million people worldwide,
            the Show will be returning to the Sunderland Empire in 2014/2015. Book tickets now <a href="http://riverdance.com/tours/"> Click here. </a>
        </p>
    </div>
    <div class="asideArticle">
        <h4>The Circus of Horrors</h4>
        <img class="AsideIMG" src="..\images\Stuff Page\Aside Images\CircusofHorrors.jpg" alt="CircusofHorrors" />
        <p>
            Winner of 100 international awards, Wicked has been casting its magical spell over audiences of all ages across the world for a decade and continues to be a record-breaking hit at London’s Apollo Victoria Theatre, where it is already the 14th longest-running West End musical of all time.
            Book tickets now  <a href="http://www.ticketmaster.co.uk/Circus-of-Horrors-tickets/artist/26960"> Click here.</a>
        </p>
    </div>
    <div class="asideArticle">
        <h4>Wicked</h4>
        <img class="AsideIMG" src="..\images\Stuff Page\Aside Images\Wicked.jpg" alt="BeautyandtheBeast" />
        <p>
            Winner of 100 international awards, Wicked has been casting its magical spell over audiences of all ages across the world for a decade and continues to be a record-breaking hit at London’s Apollo Victoria Theatre, where it is already the 14th longest-running West End musical of all time.
            Book tickets now  <a href="http://www.atgtickets.com/shows/wicked/sunderland-empire/"> Click here.</a>
        </p>
    </div>

</aside>
<main>
    <div id="mainContent">
        <h1>What's On</h1>
        <hr />
        <h2>Gigs & Music</h2>
        <article class="Story1">
            <div>
                <h3> Re-Take That</h3>
                <img class="StuffImages1" src="..\images\Stuff Page\TakeThat.jpg" alt="TakeThat" />
                <p> Friday 17th October 2014 </p>
                <p> Doors open at 6.30pm </p>
                <p> £19.95 per person</p>
            </div>
        </article>

        <article class="Story1">
            <div>
                <h3> The Big Re-Union</h3>
                <img class="StuffImages1" src="..\images\Stuff Page\BigReunion.jpg" alt="BigReunion" />
                <p> Saturday 18th October 2014</p>
                <p> Doors open at 7pm</p>
                <p> £15 per person</p>
            </div>
        </article>

        <article class="Story1">
            <div>
                <h3> Mayors Charity Ball</h3>
                <img class="StuffImages1" src="..\images\Stuff Page\MayorsBall.jpg" alt="MayorsBall" />
                <p> Friday 14th November</p>
                <p> Doors open at 7pm</p>
                <p> £50 per person</p>
            </div>
        </article>

        <article class="Story1">
            <div>
                <h3> Colin Fry</h3>
                <img class="StuffImages1" src="..\images\Stuff Page\ColinFry.jpg" alt="ColinFry" />
                <p> Thursday 27th November</p>
                <p> Doors open at 7pm</p>
                <p> £19.95 per person</p>
            </div>
        </article>
        <hr />

        <h2>Eating Out</h2>
        <article class="Story1">
            <div>
                <h3> The Alexandra </h3>
                <img class="StuffImages1" src="..\images\Stuff Page\Alexandra.jpg" alt="Alexandra" />
                <p> Come down for 'Steak Night' and Carvery, see more details on their Facebook Page... <a class="WebLink" href="https://www.facebook.com/pages/The-Alexandra/155244754618697?fref=ts&rf=156554811031456">Click Here </a> </p>
            </div>
        </article>

        <article class="Story1">
            <div>
                <h3> Toby Carvery</h3>
                <img class="StuffImages" src="..\images\Stuff Page\Roast.jpg" alt="Roast" />
                <p>

                    Toby Cavery is home of the seasoned bits, succulent bits and the melt in your mouth bits. At Toby they believe that there is only one way to do our Great British roast is properly.
                    All day, everyday the Toby Cavery lay a fun family sized feast, that offers slow cooked meats, lots of veg including home-made yorkshire puddings.
                    So enjoy your favourite cavery meal, also not only that but they offer a lot more such as specials like, all you can eat breakfasts, and some comfy accommdation in certain restaurants.
                    So visit one of the best carvery spots in the UK, <a class="WebLink" href="http://www.tobycarvery.co.uk/">Click here</a> for more details

                </p>
            </div>
        </article>

        <article class="Story1">
            <div>
                <h3>Martinos</h3>
                <img class="StuffImages" src="..\images\Stuff Page\Martinos.jpg" alt="Martinos" />
                <p>Martinos are very passionate about food and many of their ingredients are imported directly from Italy giving you a true taste of the Mediterranean. In addition to this they work alongside local retailers large and small to source freshest, best quality ingredients our region has to offer. For more information on bookings, menus and reviews visit their website... <a class="WebLink" href="http://www.martinosgroup.com/"> Click here. </a></p>
            </div>
        </article>

        <article class="Story1">
            <div>
                <h3> D'ACQUA </h3>
                <img class="StuffImages" src="..\images\Stuff Page\Dacqua.jpg" alt="Dacqua" />
                <p>D'acqua source local and fresh produce, and their msision is to serve the best quality food they can, and believe that good food should be enjoyed with the right atmosphere, ambience and service. They offer English, French and Italian cuisine. For more information on bookings and menus visit their website, <a class="WebLink" href="http://www.dacqua.co.uk/"> Click here.</a></p>
            </div>
        </article>
        <hr />

        <h2>Nightlife</h2>

        <article class="Story1">
            <div>
                <h3> Passion </h3>
                <img class="StuffImages1" src="..\images\Stuff Page\Passion.jpg" alt="Passion" />
                <p>Open 5 nights a week and just like a bag of revels there is a flavour for everyone, launching this summer with some of the biggest world wide brands we now take your Passion to the next dimension. </p>
                <p> So if you are a rocker, love your dance music or simply just love a great night out then Passion is for you.....</p>
                <p>Click on our the link to take you to their website to see whats coming up, and why not send our DJ a request..... <a class="WebLink" href=" http://www.passionsunderland.moonfruit.com/"> Click here. </a></p>
            </div>
        </article>

        <article class="Story1">
            <div>
                <h3>Lloyds No 1 - Cooper Rose</h3>
                <img class="StuffImages" src="..\images\Stuff Page\CooperRose.jpg" alt="CooperRose" />
                <p> Not only does the Cooper Rose sell pub grub, but also it is popular for it's amazing nightlife in the nightclub that offers great deals on drinks. For more information about opening times and drink deals visit the website, <a class="WebLink" href="http://www.jdwetherspoon.co.uk/">Click here.</a></p>
            </div>
        </article>

        <article class="Story1">
            <div>
                <h3> Gatsby </h3>
                <img class="StuffImages" src="..\images\Stuff Page\Gatsby.jpg" alt="Gatsby" />
                <p> In Gatsby's they offer pub grub but also a thrilling nightlife too, for all ages visit their facebook page to check out local events that are going to be on and get yourself on the guestlist for cheaper entries, <a class="WebLink" href="https://www.facebook.com/pages/Gatsby/139983136072623"> Click here.</a></p>
            </div>
        </article>
        <hr />

        <h2>Jobs</h2>

        <article class="Jobs">
            <div>
                <h3> Business Admin Roles</h3>
                <h4> Administration Supervisor</h4>
                <p> Sunderland</p>
                <p>Salary £16,000- - £18,000</p>
                <a class="WebLink" href="http://www.monster.co.uk/"> Apply Now</a>
                <h3>Accountant Roles</h3>
                <h4> Part Qualified Assistant Accountant / Assistant Accountant</h4>
                <p> Peterlee (SR8) </p>
                <p>Salary negotiable </p>
                <p>Permanent, Full Time, 37.5 Hours</p>
                <a class="WebLink" href="http://www.bluetownonline.co.uk/">Apply Now</a>

                <h4>Accounts Assistant</h4>
                <p> Peterlee (SR8)</p>
                <p>Salary £18,000 per ann</p>
                <p>Permanent, Full Time, 37.5 Hours</p>
                <a class="WebLink" href="http://www.totaljobs.com/">Apply Now</a>

                <h3> Management Roles</h3>
                <h4> International Wealth Managers</h4>
                <p> Sunderland</p>
                <p> Salary 1st Year OTE £100K </p>
                <p> Permanent, Full Time</p>
                <a class="WebLink" href="http://www.totaljobs.com/">Apply Now</a>
            </div>
        </article>
     </div>
</main>


